html(lang="es")

	head
		meta(charset="UTF-8")

		meta(name="viewport", content="width=device-width, initial-scale=1.0")
			
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
		script(type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous")
		script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" width="28" height="28")
		link(rel="stylesheet" type="text/css" href="css/style_hat.css")
		link(rel="stylesheet" type="text/css" href="css/Bandeja_style.css")
		link(rel="stylesheet" type="text/css" href="css/bulma.css")
		
		title Correo:*******@outlook.es

	body(style="background-color:#262626")
		div
			nav(class="navbar is-link" role="navigation" aria-label="main navigation dropdown navigation" style="margin-top:-5px;")
				div(class="navbar-brand" style="height:1px")
					a(class="navbar-link" style=" height:40px;margin-top:4px;")
				
					a(class="navbar-item has-dropdown" href="https://outlook.live.com/mail/")
						p(class="has-text-white" style="height:28px;margin-top:14px") Outlook
					div(class="field has-addons" style="margin-top:5px; margin-left:80px")
						div(id="cuadro25")
							div(class="control")
								input(class="input" type="text" name="search" placeholder="" )
								a(class="button is-info" style="height:28px;margin-top:6px;")
									img(src="imagenes/busqueda.png") 
					
					a(class="button is-link" style=" height:50px; margin-left:170px;")
						div(style="margin-top:-3px; height:12px; width:21px; margin-left:4px;")
							nav(role="navigation" aria-label="dropdown navigation" style=" margin-left:1px;")
								img(src="imagenes/Skype.png" style="height:18px; width:24px" )
					a(class="button is-link" style=" height:50px;margin-left:-2px;")
						div(style="margin-top:1px;  height:16px ; width:21px; margin-left:4px")
							nav(role="navigation" aria-label="dropdown navigation" style=" height:16px;")
								img(src="imagenes/calendar.png" style="height:17px; width:28px" )

					a(class="button is-link" style=" height:50px;margin-left:-5px;")
						div(style="margin-top:1px;  height:19px ; width:21px; margin-left:4px")
							nav(role="navigation" aria-label="dropdown navigation" style=" height:16px;")
								img(src="imagenes/cog.png" style="height:20px; width:30px")

					a(class="button is-link" style=" height:50px;margin-left:-5px;")
						div(style="margin-top:1px;  height:19px ; width:21px; margin-left:4px")
							nav(role="navigation" aria-label="dropdown navigation" style=" height:16px;")
								img(src="imagenes/Question.png" style="height:22px; width:33px")

					a(class="button is-link" style=" height:50px;margin-left:-5px;")
						div(style="margin-top:1px;  height:19px ; width:21px; margin-left:4px")
							nav(role="navigation" aria-label="dropdown navigation" style=" height:16px;")
								img(src="imagenes/MF.png" style="height:22px; width:33px")
					
					div(class="dropdown" style="cursor: pointer;")
						button(id="myBtn" class="dropbtn")
							img(src="https://lh3.googleusercontent.com/a-/AAuE7mB0ITHsxs_ZO_36OdEmNhNfCNo2Fh27V4FJTKKh2w=s96-c" style="margin-top:-10px;  height:26px ; width:50px; margin-left:-20px; border-radius: 100%;")
							div(id="myDropdown" class="dropdown-content" style="margin-left:-219px; margin-top:12px; width:350px; background-color: #212121;")
								div(class="cuadro34")
									h1(style="color:white; margin-left:-242px") Mi Cuenta
									img(src="https://lh3.googleusercontent.com/a-/AAuE7mB0ITHsxs_ZO_36OdEmNhNfCNo2Fh27V4FJTKKh2w=s96-c" style="margin-top:12px;  height:76px ; width:80px; margin-left:-260px; border-radius: 100%;")
									p(style="color:white; font-size:14px; margin-top:-70px;width:100px; background-color: #212121; height:30px;margin-left:82px") *****************@outl..
									p
									
									a(style="color:#AAB2FF; font-size:12px; margin-top:-28px; width:100px; background-color: #212121; height:30px;margin-left:62px" href="/informacion") Mi perfil
									a(style="color:#AAB2FF; font-size:12px; margin-top:-10px; width:100px; background-color: #212121; height:30px;margin-left:66px" href="https://account.microsoft.com/profile/") Mi cuenta
									a(style="color:#AAB2FF; font-size:12px; margin-top:-10px; width:145px; background-color: #212121; height:30px;margin-left:53px" href="") Cerrar session
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
									br
							

							


					

			div(style="margin-top:3px")
				buttom(img="imagenes/carta-abierta(2).png" class="button" style="Margin-left:40px; background-color:#69afe5; font-size:12px; border-radius:0%; border: 0.01px solid #000000;") Mensaje Nuevo
				buttom(class="button has-text-info" style="Margin-left: 70px; background-color:#262626; font-size:12px; border-radius:0%; border: 0.01px solid #000000; color=#69afe5;")
					img(src="imagenes/carta-abierta (3).png" style="height:17px; width:21px; margin-right:10px" )
					string Marcar todos como leido
				string(class="has-text-white" style="margin-left:30px; font-size:12px;")
					img(src="imagenes/flecha-curva.png" style="height:17px; width:21px; margin-top:")
					string deshacer
			div(id='cuadro21' class="" style="background-color: #212121; margin-top:5px; overflow:auto;")
				div(class="")
					nav(class="navbar-item is-hoverable" role="navigation" aria-label="main navigation dropdown navigation" style="background-color: #212121;")
						a(class="navbar-link" style="margin-left:-30; background-color: #212121;")
							div( class="has-text-white" style="margin-top:-2px; height:-12px; width:21px; background-color: #212121;") 
								nav(class="lp" role="navigation" aria-label="dropdown navigation" style="width:21px; margin-left:70px;") Favoritos
						div(class="navbar-dropdown" style="background-color: #212121; height:-12px; width:21px;")
					a(class="navbar-item has-text-white lp" title="Bandeja de entrada" style="background-color: #212121;") Bandeja de entrada
					a(class="navbar-item has-text-white lp"  title="Elementos enviados" style="background-color: #212121;") Elementos enviados
					a(class="navbar-item has-text-white lp"  title="Borradores" style="background-color: #212121;") Borradores
					a(class="navbar-item has-text-white lp" title="Archivo" style="background-color: #212121;") archivo
					
					nav(class="navbar-item is-hoverable" role="navigation" aria-label="main navigation dropdown navigation" style="margin-top:; background-color: #212121;")
						a(class="navbar-link" style="margin-left:-30px; background-color: #212121;")
							div( class="has-text-white" style="margin-top:-2px; height:-12px; width:21px; background-color: #212121; ") 
								nav(class="lp" role="navigation" aria-label="dropdown navigation" style="width:21px; margin-left:70px; ") Carpetas
						div(class="navbar-dropdown" style="background-color: #212121; height:-12px; width:21px;")
					a(class="navbar-item has-text-white lp" title="Bandeja de entrada" style="background-color: #212121;") Bandeja de entrada
					a(class="navbar-item has-text-white lp" tittle="Correo no deseado" style="background-color: #212121;") Correo no deseado
					a(class="navbar-item has-text-white lp" title="Borradores" style="background-color: #212121;") Borradores
					a(class="navbar-item has-text-white lp" title="Elementos enviados" style="background-color: #212121;") Elementos enviados
					a(class="navbar-item has-text-white lp" title="Elemento eliminados" style="background-color: #212121;") Elementos eliminados
					a(class="navbar-item has-text-white lp" title="Archivo" style="background-color: #212121;") Archivo
					a(class="navbar-item has-text-white lp" title="Historial de conversaciones" style="background-color: #212121;") Historial de conversaciones
					a(class="navbar-item has-text-white lp" title="Notas" style="background-color: #212121;") Notas
					
					nav(class="navbar-item is-hoverable" role="navigation" aria-label="main navigation dropdown navigation" style="margin-top:; background-color: #212121;")
						a(class="navbar-link" style="margin-left:-30px; background-color: #212121;")
							div( class="has-text-white" style="margin-top:-2px; height:-12px; width:21px; background-color: #212121;") 
								nav(class="lp" role="navigation" aria-label="dropdown navigation" style="width:21px; margin-left:70px;") Grupos
			div(id='cuadro31' class="has-text-left has-text-white")
				img()
				
				a(href="/" style="font-size:10px; margin-left:42px; color:white") Actualizar a office 365 con
				br
				a(href="/" style="font-size:10px;margin-left:45px; color:white") Caracteristicas de Outlook
				br
				a(href="/"  style="font-size:10px;margin-left:45px; color:white") Premium
			
			div(id='cuadro22' style="background-color: #242424; margin-left:215px; margin-top:-522px")
				div(id="c-slideer" class="is-fullwidth" style="margin-left:0px; width:100%")
						div(id="slideer")
							section(class="")
								div(id='cuadro23' style="background-color: #343333;  border: 0.10px solid #000000; " )
									class(class="button" style="margin-left:54px; font-size:12px; background-color: #343333; border: 0px solid #343333; margin-top:1%; border-bottom-color:#2998F6; border-bottom-width:3px; color:#ffffff; border-radius:0%;") Prioritarios 
									class(class=" button has-text-white" style="margin-left:24px; font-size:12px; background-color: #343333; border: 0px solid #343333; margin-top:7.5px; color:#ffffff;") otros
			
								div(class="estemen" )
									class(class="button  is-fullwidth" id="btn-next" style="background-color: #343333; border-radius:0%; border: 0.01px solid #000000; margin-top:0.4374px; border-left-color:#2998F6; border-left-width:3px;")
										img(src="imagenes/microsoft2.png" class="PO")
										p --
										string(class="BP") Equipo de cuentas de Microsoft


									
							section(class="")
								div(class="button TR" id="btn-prev" style="margin-left:90.5%; background: transparent; border-color:#343333; color:white") X

								div(class=" estemen")
									
									div(id='cuadro33' class="has-text-centered" style="overflow:auto;")
										
										string(style="margin-right:59%;  margin-top:-10px; font-size:12px;") Equipo de cuentas Microsoft account-security-noreply@accountprotection.microsoft.com
										br
										string(style="margin-right:82.5%; margin-top:10px; font-size:10px;") Dom 27/10/2019 15:36
										img(src="imagenes/Microsoft2.png" style="margin-right:92%; border-radius:100%; height:35px; margin-top:-25px;")

										div(class="has-text-left" style="margin-left:10px")
											br
											string(style="color:white") Bandeja de entrada
											p(style="color:white; aling:center") Nunca podemos saber si una mente criminal nos acecha, solo podemos estar atentos a todo; A lo que nos rodea, A todo lo que observamos y a todo lo que escuchamos. No es nuestra culpa ser víctimas alguna vez Tampoco podemos comportarnos como víctimas siempre El dilema de vivir, es disfrutar al máximo cada día Valorar a quienes nos rodean e incluso con quienes no sentimos empatía porque no sabemos si estaremos el día de mañana si viviremos el mañana "Es por ello que si damos vida a otro ser humano procuremos velar por su salud mental y física ya que lo que hacemos en frente de ellos y lo que le enseñamos influyen directamente en su comportamiento presente y futuro" No permitamos la violencia No permitamos rencores Aprendamos a perdonar Aprendamos a comunicarnos ….Aprendamos a vivir...
											br
											p(style="color:white; aling:center") Nunca podemos saber si una mente criminal nos acecha, solo podemos estar atentos a todo; A lo que nos rodea, A todo lo que observamos y a todo lo que escuchamos. No es nuestra culpa ser víctimas alguna vez Tampoco podemos comportarnos como víctimas siempre El dilema de vivir, es disfrutar al máximo cada día Valorar a quienes nos rodean e incluso con quienes no sentimos empatía porque no sabemos si estaremos el día de mañana si viviremos el mañana "Es por ello que si damos vida a otro ser humano procuremos velar por su salud mental y física ya que lo que hacemos en frente de ellos y lo que le enseñamos influyen directamente en su comportamiento presente y futuro" No permitamos la violencia No permitamos rencores Aprendamos a perdonar Aprendamos a comunicarnos ….Aprendamos a vivir...
											br
											p(style="color:white; aling:center") Nunca podemos saber si una mente criminal nos acecha, solo podemos estar atentos a todo; A lo que nos rodea, A todo lo que observamos y a todo lo que escuchamos. No es nuestra culpa ser víctimas alguna vez Tampoco podemos comportarnos como víctimas siempre El dilema de vivir, es disfrutar al máximo cada día Valorar a quienes nos rodean e incluso con quienes no sentimos empatía porque no sabemos si estaremos el día de mañana si viviremos el mañana "Es por ello que si damos vida a otro ser humano procuremos velar por su salud mental y física ya que lo que hacemos en frente de ellos y lo que le enseñamos influyen directamente en su comportamiento presente y futuro" No permitamos la violencia No permitamos rencores Aprendamos a perdonar Aprendamos a comunicarnos ….Aprendamos a vivir...
											br
											p(style="color:white; aling:center") Nunca podemos saber si una mente criminal nos acecha, solo podemos estar atentos a todo; A lo que nos rodea, A todo lo que observamos y a todo lo que escuchamos. No es nuestra culpa ser víctimas alguna vez Tampoco podemos comportarnos como víctimas siempre El dilema de vivir, es disfrutar al máximo cada día Valorar a quienes nos rodean e incluso con quienes no sentimos empatía porque no sabemos si estaremos el día de mañana si viviremos el mañana "Es por ello que si damos vida a otro ser humano procuremos velar por su salud mental y física ya que lo que hacemos en frente de ellos y lo que le enseñamos influyen directamente en su comportamiento presente y futuro" No permitamos la violencia No permitamos rencores Aprendamos a perdonar Aprendamos a comunicarnos ….Aprendamos a vivir...
											br
											p(style="color:white; aling:center") Nunca podemos saber si una mente criminal nos acecha, solo podemos estar atentos a todo; A lo que nos rodea, A todo lo que observamos y a todo lo que escuchamos. No es nuestra culpa ser víctimas alguna vez Tampoco podemos comportarnos como víctimas siempre El dilema de vivir, es disfrutar al máximo cada día Valorar a quienes nos rodean e incluso con quienes no sentimos empatía porque no sabemos si estaremos el día de mañana si viviremos el mañana "Es por ello que si damos vida a otro ser humano procuremos velar por su salud mental y física ya que lo que hacemos en frente de ellos y lo que le enseñamos influyen directamente en su comportamiento presente y futuro" No permitamos la violencia No permitamos rencores Aprendamos a perdonar Aprendamos a comunicarnos ….Aprendamos a vivir...
				
					
script(src="js/Bandeja.js")
