html(lang="es")

	head
		meta(charset="UTF-8")

		meta(name="viewport", content="width=device-width, initial-scale=1.0")
			
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
		link(rel="stylesheet" type="text/css" href="css/style_hat2.css")
		
		tittle

	body(style="background-color: #F8F7F7")
		div(id='cuadro4' style="margin-top:6px;text-align:center")
			div(class="colum")
				div(style="")
					a(href="https://github.com/")
						img(src="imagenes/github-icon-png-26.jpg" width="190" heigth="190")
		
		div(id='cuadro1' style="margin-top:20px;")
			div(class="colum")
				div(style="padding-left:128px")
					img(src="imagenes/microsoft2.png" style="margin-top:42.5px" width="50" heigth="50")
				div(class="column MB Mr position-r top-0 left-0 right-0" style="margin-top:13px;")
					p(class="has-text-grey" style="padding-left:81px; font-size:16px" ) Sign in to 
						string(class="has-text-centered has-text-black is-size-28" style="font-size:16px") GitHub
					p
					p(class="has-text-grey" style="padding-left:54px; font-size:16px") to continued to
						string(class="has-text-centered has-text-black is-size-28" style="font-size:15px") Microsoft-
					p
					string(class="has-text-centered has-text-black is-size-28" style="padding-left:100px; font-size:16px") Corporation
		div(id='cuadro3')
			div(class="column")
				div(class="column MB Mr position-r top-0 left-0 right-0")
					string(class="has-text-centered has-text-black" style="margin-top:1px; font-size:14px; font-weight: 600;") Username or email address
					div(class="control")
						input(class="input is-small" type="text" placeholder="" style="  margin-top:10px; margin-bottom:10px")

					string(class="a has-text-centered has-text-black " style="font-size:14px; font-weight: 600; margin-top:10px") Password
					a(href="https://github.com/password_reset" style="font-size:14px; padding-left:60px; font-weight: 600;") Forgot password?
					div(class="control")
						input(class="input is-small" type="password" style="margin-top:10px")
					div(class="buttons" style="margin-top:15px")
						button(href="https://github.com/session" class="button is-success button is-fullwidth" style="padding-left:15px") Sing In


		div(style="margin-top:55px")
			div(class="column")
				div(class="column MB Mr position-r top-0 left-0 right-0" style="text-align: center")
					a(href="https://help.github.com/en/github/site-policy/github-terms-of-service" class="has-text-centered" style="font-size:12.3px;") Terms    
					a(href="https://help.github.com/en/github/site-policy/github-terms-of-service" class="has-text-centered" style="margin-left:13px; font-size:12.3px;")  Privacy
					a(href="https://help.github.com/en/github/site-policy/github-terms-of-service" class="has-text-centered" style="margin-left:13px; font-size:12.3px;") Security
					a(href="https://help.github.com/en/github/site-policy/github-terms-of-service" class="has-text-centered has-text-grey" style="margin-left:13px; font-size:12.3px;") Contact Microsoft

		div(style="margin-top:10px")


