<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"><link rel="stylesheet" href="bulma-0.7.5/css/bulma.min.css">
<link rel="stylesheet" href="configuracion.css">
    <script type="text/javascript" src="js/jquery-3.4.1.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar Sesion</title>
  </head>
  <body class="Fondo hero is-fullheight">
    <div class="cuadro" id="c-slideer">
      <div id="slideer">
        <section>
          <div class="cuadro2 mmm">
            <from>
              <fieldset><img class="confimagen" src="Microsoft.png">
                <h1 class="title is-4">Iniciar sesión</h1>
                <input type="text" name="nombre" placeholder="Correo electrónico,teléfono o Skype">
                <div class="margen">
                  <p>¿No tiene cuenta? <a href="llaveseg.html">Cree una.</a></p><a href="llaveseg.html">Iniciar sesión con una llave de seguridad.</a><br><br><a class="active" href="opcsesion.html">Opciones de inicio de sesión.</a><br>
                  <button class="button boton" style="color:white;" id="sig" type="button">Siguiente</button>
                </div>
              </fieldset>
            </from>
          </div>
        </section>
        <section>
          <div class="cuadro2 mmm">
            <from>
              <fieldset><img class="confimagen" src="Microsoft.png"><br><a><img src="flech_icon.png" id="atra" width="10" heigth="10"></a>
                <h1 class="title is-4">Escribir contraseña</h1>
                <input type="text" name="nombre" placeholder="Contraseña">
                <div class="margen">
                  <input type="checkbox" name="agreement" checked>
                  <p>Mantener la sesion iniciada</p><br><a href="llaveseg.html">¿Olvido su contraseña?</a><br><br>
                  <button class="button boton" type="button"><a style="color:white;" href="llaveseg.html">Siguiente	</a></button>
                </div>
              </fieldset>
            </from>
          </div>
        </section>
      </div>
    </div>
    <div class="term"><a class="posi active" style="color:white;" href="terminosde.html">Terminos de uso         </a><a class="posi active" style="color:white;" href="terminosde.html">     Privacidad y cookies      </a><a class="posi active" style="color:white;" href="terminosde.html">.  .  .</a>
    </div>
    <script src="js/slider_login.js"></script>
  </body>
</html>