doctype html
//output:index.html
html(lang="es")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-sacle=1.0, user-scalabe=no, maximun-scale=1.0, minimun-scale=1.0")
      meta(http-equiv="X-UA-Comátible", content="ie=edge")
      link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css")
      link(rel="stylesheet" type="text/css" href="css/estilos.css")
      link(rel="stylesheet" type="text/css" href="css/fonts.css")
      link(rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css")
      script(src="http://code.jquery.com/jquery-1.9.1.min.js")
      script(src="http://code.jquery.com/jquery-latest.js")
      script(src="https://use.fontawesome.com/releases/v5.0.0/js/all.js")
      script(src="https://use.fontawesome.com/releases/v5.0.0/js/all.js")
      script(type="text/javascript" src="/node_modules/bulma-extensions/bulma-iconpicker/dist/bulma-iconpicker.min.js")
      script(src="js/javascriptss.js")
      script(src="js/jqueriy.slides.js")
    body
      div(class="container is-fullhd" id="contenedor")
        div(class="container is-fluid")
          nav.navbar
           div.navbar-brand
            div.navbar-start
              a.navbar-item(href="")
                img(src="imagenes/logo.png" width="112" height="28")
                span
                span
                span
                a(href="")
                  button(class="button is-white" id="boton") Office
                button(class="button is-white" id="boton") Windows
                button(class="button is-white" id="boton") Xbox
                button(class="button is-white" id="boton") Soporte
           div.navbar-end
              div(class="navbar-item is-hoverable is-mega")
                span Todo Microsoft
                span(class="icon is-small")
                  i(class="fas fa-angle-down")
                div.navbar-dropdown(id="blogDropdown" data-style="width: 15rem;")
                  div(class="container is-fluid")
                    div.columns
                      div.column
                        h1(class="title is-6 is-mega-menu-title") Software
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black App para Windows
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black OneDrive
                        a.navbar-item(href="/")
                          div.navbar-content
                            p
                              small.has-text-black Outlook
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Skype
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black OneNote 
                      div.column
                        h1(class="title is-6 is-mega-menu-title") PCs y Dispositivos
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black PCs & tablets
                      div.column
                        h1(class="title is-6 is-mega-menu-title") Entretenimiento
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Juegos digitales Xbox
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Juegos
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Juegos para Windows
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Peliculas y TV
                      div.column
                        h1(class="title is-6 is-mega-menu-title") Empresas
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Microsoft Azure
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Microsoft Dynamics 365
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Microsoft 365
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Microsoft Industry
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Plataforma de datos
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Microsoft Advertising
                      div.column
                        h1(class="title is-6 is-mega-menu-title") Desarrollador
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black .NET 
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Visual Studio
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Windows Server
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Desarrollar aplicaciones para <br> Windows
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Documentos
                      div.column
                        h1(class="title is-6 is-mega-menu-title") Otros
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Microsoft Store
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Microsoft Rewards
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Seguridad y descargas <br>gratuitas
                        a.navbar-item(href="#")
                          div.navbar-content
                            p
                              small.has-text-black Educación                      
                  hr.navbar-divider
                  div.navbar-item
                    div.navbar-content
                      div(class="level is-mobile")
                        div.level
                          div(class="level-item")
                            a(href="#" class="a has-text-black")
                              strong VER MAPA DEL SITIO 
              button(class="button is-white icon-search" id="boton")
              button(class="button is-white icon-user-plus" id="boton")
        div(class="container is-fluid has-centerd" id="show")
            div.main
              div.slides
                img(src="imagenes/woman.jpg")
                img(src="imagenes/xbox2.jpg")    
        div(class="container is-fluid")
          div.columns
            div(class="column")
              div.card
                div.card-image
                  figure(class="image")
                    img(src="imagenes/compu.jpg")
                div.card-content        
                div.content 
                    p(class="title is-5") PC Windows
                    p(class="subtitle is-6") Windows cobra vida en estos equipos de gama alta.
                    a(href="#" class="a has-text-link")
                      span OBTÉN MÁS INFORMACIÓN
            div(class="column")
              div.card
                div.card-image
                  figure(class="image")
                    img(src="imagenes/master.jpg")
                div.card-content  
                div.content 
                    p(class="title is-5") Xbox One S
                    p(class="subtitle is-6") Lo último en sistemas de juegos y entretenimiento en 4K.
                    a(href="#" class="a has-text-link")
                      span MÁS INFORMACIÓN
            div(class="column")
              div.card
                div.card-image
                  figure(class="image")
                    img(src="imagenes/family.jpg")
                div.card-content        
                div.content
                    p(class="title is-5") Microsoft Store
                    p(class="subtitle is-6") Encuentra lo que necesitas para el hogar, la escuela, el trabajo y para divertirte.
                    a(href="#" class="a has-text-link")
                      span CÓMPRALA AHORA
            div(class="column")
              div.card
                div.card-image
                  figure(class="image")
                    img(src="imagenes/xbox.jpg")
                div.card-content
                div.content 
                    p(class="title is-5") Xbox Game Pass para PC (Beta)
                    p(class="subtitle is-6") Descubre tu próximo juego favorito. Como continuamente agregamos nuevos títulos, siempre tendrás algo nuevo para jugar.
                    a(href="#" class="a has-text-link")
                      span COMPRAR AHORA                  
        <br>
        div(class="container is-fluid")  
          img(src="imagenes/lap.jpg")
        <br>
        div(class="container is-fluid")
          p(class="title is-4") Para el trabajo              
          div.columns
            div(class="column")
              div.card
                div.card-image
                  figure(class="image")
                    img(src="imagenes/lap2.jpg")
                div.card-content          
                div.content 
                  p(class="title is-5") Windows 10 Enterpirse
                  p(class="subtitle is-6") Descarga la evaluación gratuita de 90 días para profesionales de TI.
                  a(href="#" class="a has-text-link")
                    span DESCÁRGALO AHORA
            div(class="column")
              div.card
                div.card-image
                  figure(class="image")
                    img(src="imagenes/raros.jpg")
                div.card-content
                div.content
                  p(class="title is-5") Office 365 para empresas
                  p(class="subtitle is-6") Accede a tus archivos desde cualquier lugar, en línea o sin conexión.
                  a(href="#" class="a has-text-link")
                    span COMPRAR AHORA
            div(class="column")
              div.card
                div.card-image
                  figure(class="image")
                    img(src="imagenes/dibujo.jpg")
                div.card-content  
                div.content
                  p(class="title is-5") Explora Kubernets
                  p(class="subtitle is-6") Descubre cómo funciona Kubernetes y empieza a desarrollar hoy aplicaciones nativas para la nube.
                  a(href="#" class="a has-text-link")
                    span EMPIEZA HOY
            div(class="column")
              div.card
                div.card-image
                  figure(class="image")
                    img(src="imagenes/cosas.jpg")
                div.card-content 
                div.content
                  p(class="title is-5") Adquiere Visual Studio 2019 
                  p(class="subtitle is-6") Descarga Visual Studio 2019, el IDE productivo, moderno e innovador.
                  a(href="#" class="a has-text-link")
                    span DESCÁRGALO AHORA
        <br>
        div(class="container is-fluid")
          p Seguir Microsoft 
            span.icon-twitter  
            span.icon-linkedin2
        div(class="container is-fullhd")
         div.notification
          div(class="container is-fluid")
            div.notification
              div.columns
                div.column
                  p(class="subtitle is-6") Novedades
                    a.column-item(href="#")
                      div.column-content
                        p
                          small.has-text-black Aplicaciones para Windows 10
                    a.column-item(href="#")
                      div.column-content
                        p
                          small.has-text-black Aplicaciones de Office
                div.column
                  p(class="subtitle is-6") Microsoft Store
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Perfil de la cuenta 
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Centro de descargas
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Soporte de Microsoft Store
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Devoluciones y rembolsos
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Seguimientos de pedidos
                div.column
                  p(class="subtitle is-6") Educación
                    a.column-item(href="#")
                      div.column-content
                        p
                          small.has-text-black Office 365 para escuelas
                    a.column-item(href="#")
                      div.column-content
                        p
                          small.has-text-black Microsoft Azure en educación
                div.column
                  p(class="subtitle is-6") Grandes Empresas
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Azure 
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black AppSource
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Automotriz
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Gobierno
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Atención para la salud
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Manufactura
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Servicios financieros
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Comercio directo
                div.column
                  p(class="subtitle is-6") Desarrollador
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Microsoft Visual Studio
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Red de desarrolladores
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black TechNet
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Channel 9
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Centro de desarrolladores de Office
                div.column
                  p(class="subtitle is-6") Compañia
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Trabajos
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Acerca de Microsoft
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Privacidad en Microsoft
                  a.column-item(href="#")
                    div.column-content
                      p
                        small.has-text-black Inversionistas
        div(class="container is-fullhd")
          div.notification
            div(class="container is-fluid")
              div.notification
                footer.footer
                  p
                      ul
                        a(href="#" class="icon icon-globe")  Español(México) 
                        li © Microsoft 2019
                        li Sobre nuestra publicidad
                        li Marcas registradas
                        li Aviso legal
                        li Privacidad
                        li Ponte en contacto con Microsoft
