doctype html

html(lang="es")
head
  meta(charset="UTF-8")
  <link rel="stylesheet" href="css/bulma.min.css">
  <link rel="stylesheet" href="../../css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" width="28" height="28"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  title
body
  section(class="hero is-fullheight fondo")
    section(class="hero  desvanecido")
      div(class="hero-head")
        div(class="columns is-marginless")
          div(class="column enlinea" style="margin-left:190px;")
            figure.image
              <img src="imagenes/indice.jpg" style="max-width:30px;"> 
            p(class="has-text-white has-text-weight-bold" style="margin-left:10px;") Microsoft
          div(class="column")
            a(class="button transparente" style="margin-left:150px;") Probar Premium
            a(class="button" style="margin-left:10px; background-color:white; color:#209cee;") Iniciar sesion
    div(class="hero-body")
      div(class="is-overlay" style="margin-left:200px; top: 90px;")
        h1(class="title" style="color: white;") Outlook
      div(class="is-overlay" style="margin-left:200px; top: 400px;")
        h1(class="title is-1" style="color: white; font-size:60px; line-height:20px;") Conéctate. Organízate.
        h1(class="title is-1" style="color: white; font-size:60px;") Aumenta tu productividad.
        div(class="has-background-white" style="width:990px; height:1px; margin-left:;")
    div(class="hero-foot")
      div(style="margin-left:200px; margin-bottom: 30px;")
        h1(class="has-text-weight-bold" style="color:white; font-size: 15px;") Correo y calendario gratuitos de Outlook
          a(class="button is-info" style="width: 410px; height:43px; margin-left: 300px;") Crear cuenta gratuita
  section(class="hero is-fullheight ")
    div(class="hero-body")
      div(class="fondo2 contenedor")
    div.hero-body
      div(class="cuadron is-overlay ")
        p(class="" style="margin-top:40px; font-size: 75px; color: #209cee; line-height:70px; margin-right:90px;") Correo y calendario juntos en un mismo lugar
        p(style="margin-top:40px; font-size:21px;") Mantente al día de tus mensajes y eventos más importantes.
    div.fondazul  
    div(class="is-overlay")
      figure(class="image has-shadow")
        <img src="imagenes/base-1.png" style="max-width:1000px; margin-top:1355px; margin-left:130px;">
      a(class="button is-info has-text-weight-bold" style=" font-size:20px; margin-left:127px; width:196px; height:90px; margin-right:5px; margin-top:50px; color:#209cee; background-color:white;") Correo
      a(class="button is-info has-text-weight-bold" style="font-size:20px; width:196px; height:90px; margin-right:5px; margin-top:50px;") Calendario
      a(class="button is-info has-text-weight-bold" style="font-size:20px; width:196px; height:90px; margin-right:5px; margin-top:50px;") Contactos
      a(class="button is-info has-text-weight-bold" style="font-size:20px; width:196px; height:90px; margin-right:5px; margin-top:50px;") Tareas
      a(class="button is-info has-text-weight-bold" style="font-size:20px; width:196px; height:90px; margin-right:5px; margin-top:50px;") Buscar
    div(class="is-overlay")
      div(class="fondo3" style="margin-left:30px; margin-right:40px; margin-top:2330px; width:1280px; height:1400px;")
        div(class="is-overlay" style="width:600px; height:100px; margin-left:150px;")
          h1(class="has-text-weight-bold corrida" style="margin-top:2460px;") Respaldado 
          h1(class="has-text-weight-bold corrida") con seguridad
          h1(class="has-text-weight-bold corrida") de nivel
          h1(class="has-text-weight-bold corrida") empresarial
        div(class="is-overlay" style="width:500px; height:100px; margin-left:150px;")
          p(class="has-text-weight-bold" style="color:white; font-size:20px; margin-top:2890px;") Outlook trabaja en todo momento para ayudar a proteger tu privacidad y mantener tu bandeja de entrada sin otros correos.

        div(class="is-overlay" style="width:300px; height:100px; margin-left:290px;")
          p(style="margin-top:3100px;color: white;") Protección ofrecida por las mismas herramientas que utiliza Microsoft para los clientes empresariales.

        div(class="is-overlay" style="width:300px; height:90px; margin-left:290px;")
          p(style="margin-top:3200px; color: white;") Cifrado de datos en el buzón y después de enviar el correo.

        div(class="is-overlay" style="width:300px; height:90px; margin-left:290px;")
          p(style="margin-top:3300px; color: white;") Desactivación automática de vínculos no seguros que contienen estafas de suplantación de identidad, virus o malware.
            h5(class="gold" style="margin-left:20px;") Premium
        div(class="is-overlay" style="width:300px; height:90px; margin-left:290px;")
          p(style="margin-top:3450px; color: white;") Detección de ransomware y recuperación de los archivos importantes en OneDrive.
            h5(class="gold" style="margin-left:20px;") Premium
        div(class="is-overlay has-background-white" style="width:260px; height:60px; margin-top:3670px;")
        div(class="is-overlay has-background-white" style="width:1px; height:633px; margin-left:260px; margin-top:3100px;")
        div(style="background-color:#dcebfa; width:540px; height:60px; margin-left:740px;")
    div
      p(class="has-text-centered title is-1" style="margin-top:900px; font-size:80px; line-height:20px;") Aplicaciones de Office 
      p(class="has-text-centered title is-1" style="font-size:80px;") Online.
      p(class="has-text-centered title is-1" style="font-size:80px; color:#0078d4;") Gratis.
    div(class="slider" style="width:800px; height:500px; margin-top:150px;")
      ul
        li
          img(src="imagenes/word.png")
          h1(class="subtitle is-1 has-text-centered" style="color:blue;margin-top:30px;") Word
        li
          img(src="imagenes/excel.png")
          h1(class="subtitle is-1 has-text-centered" style="color:green;margin-top:30px;") Excel
        li
          img(src="imagenes/powerpoint.png")
          h1(class="subtitle is-1 has-text-centered" style="color:red; margin-top:30px;") PowerPoint
      div(style="width:350px; margin-left:210px; margin-top:75px;")
        p(class="is-centered") Colaborar es sencillo con <b>Word</b>, <b>PowerPoint</b> y <b>Excel</b>. Además, puedes chatear en tiempo real con <b>Skype</b>, directamente desde la bandeja de entrada.
    div(class="hero is-fullheight" style="margin-top: 20px;")
      div(class="fondo4" style="margin-left:30px; margin-right:40px; margin-top:700px; width:1300px; height:800px;")
        div(class="" style="width:450px; margin-left:140px; height:70px;")
          p(class="has-text-weight-bold" style="font-size:70px; line-height:70px; color:white; margin-top:400px;") Mantén tu ocupada vida organizada
        div(class="has-background-white" style="font-size:18px; width:640px; height:50px; margin-top:250px;")
        div(class="has-background-white" style="font-size:19px; width:640px; height:100px;")
          p(class="" style="margin-left:150px;") Utiliza el calendario integrado eficaz de Outlook para realizar un seguimiento de tus citas y programar reuniones con otros usuarios
    div(class="hero is-fullheight")
      div
        p(class="title is-1" style="color:#0078d4; width:320px; margin-left:170px; margin-top:330px;") Simplifica la programación enviando tu disponibilidad
      div(class="is-overlay" style="width:600px; margin-top:6490px;")
        figure(class="image")
          <img src="../../public/imagenes/mobile-1.png" style="max-width:250px; margin-left:600px;">
            <img class="is-overlay" src="../../public/imagenes/mobile-2.png" style="max-width:250px; margin-left:755px;">
              <img class="is-overlay" src="../../public/imagenes/mobile-3.png" style="max-width:250px; margin-left:920px;">
      div
        p(class="title is-1" style="color:#0078d4; width:320px; margin-left:780px; margin-top:430px;") Factura fácilmente en los vuelos próximos
      div(class="is-overlay" style="width:600px; margin-top:7150px;")
        figure(class="image")
          img(src="../../public/imagenes/mobile-21.png" style="max-width:250px; margin-left:170px;")
        figure(class="image")
          img(class="is-overlay" src="../../public/imagenes/mobile-22.png" style="max-width:250px; margin-left:320px;")
        figure(class="image")
          img(class="is-overlay" src="../../public/imagenes/mobile-23.png" style="max-width:250px; margin-left:470px;")
    div(class="hero-body")
      div(style="margin-top:340px; background-color:#0078d4; width:900px; height:500px; margin-left:550px;")
        h1(class="title is-2 has-text-white" style=" margin-top:100px;margin-left:210px; width:400px;") Más accesible que nunca
        p(class="has-text-white" style="margin-top:50px;margin-left:210px;width:400px; font-size: 20px; color: #209cee; line-height:25px; margin-right:90px;") Diseñamos Outlook.com para que sea la bandeja de entrada más accesible de todos los usuarios, con una navegación intuitiva con control de voz, compatibilidad con múltiples dispositivos de asistencia y mucho más.
    div.hero-body
      div(class="fondo5 is-overlay" style="margin-top:7850px;width:650px; height:400px;")
    div(class="")
      h1(class="has-text-weight-bold has-text-black is-1 has-text-centered" style=" font-size:18px;") ¿Estás buscando Hotmail?
      p(class="has-text-centered" style=" font-size:18px;width:600px; margin-left:380px;") Ya lo encontraste. Rediseñamos y relanzamos Hotmail como Outlook. Todavía estamos comprometidos a crear el mejor correo y calendario gratis.
    div(class="hero fondo6" style="width:1500px;height:1600px;margin-top:160px;")
      div(class="")
        p(class="has-text-white has-text-centered has-text-weight-bold" style="width:300px; font-size:90px; margin-left:510px; line-height:100px; margin-top:400px;") Te damos la bienvenida
        p(class="has-text-white has-text-centered has-text-weight-bold" style="width:450px; font-size:90px; margin-left:510px; line-height:100px;") a Outlook
        p(class="has-text-white has-text-centered" style="width:380px; font-size:35px; margin-left:530px; line-height:35px; margin-top:50px;") Correo, calendario
        p(class="has-text-white has-text-centered" style="width:380px; font-size:35px; margin-left:530px; line-height:35px;") y
        p(class="has-text-white has-text-centered" style="width:380px; font-size:35px; margin-left:530px; line-height:35px;") mucho más.
        a(class="button transparente ancho has-text-weight-bold" style=" font-size:20px;margin-left:550px; width:350px; height:70px; margin-top:50px;") Crear cuenta gratuita
        div(style="width:1130px; background-color:white; height:255px; margin-left:220px; margin-top:170px;")
          div(class="hero" )
            figure(class="image" style="margin-left:130px;margin-top:100px;")
              img(src="imagenes/word-i.jpg" style="max-width:50px;")
          div(class="is-overlay" )
            figure(class="image" style="margin-left:470px;margin-top:10255px;")
              img(src="imagenes/onedrive-i.jpg" style="max-width:50px;")
          div(class="is-overlay" )
            figure(class="image" style="margin-left:590px;margin-top:10256px;")
              img(src="imagenes/onenote-i.jpg" style="max-width:50px;")
          div(class="is-overlay" )
            figure(class="image" style="margin-left:710px;margin-top:10256px;")
              img(src="imagenes/outlook-i.jpg" style="max-width:50px;")
          div(class="is-overlay" )
            figure(class="image" style="margin-left:830px;margin-top:10256px;" )
              img(src="imagenes/excel-i.jpg" style="max-width:50px;")
          div(class="is-overlay" )
            figure(class="image" style="margin-left:950px;margin-top:10256px;")
              img(src="imagenes/skype-i.jpg" style="max-width:50px;")
          div(class="is-overlay" )
            figure(class="image" style="margin-left:1070px;margin-top:10256px;")
              img(src="imagenes/powerpoint-i.jpg" style="max-width:50px;")

    div(class="hero-body")
      div.hero-body
        div(class="fondo7" style="margin-top:0px;background-color:#0078d4;width:800px; height:1000px; margin-left:550px;")
      div(class="is-overlay " style="margin-top:10630px;width:800px; height:750px; background-color:white;")
        h1(class="has-text-weight-bold" style="font-size:75px; color:#0078d4; margin-top:100px;margin-left:210px; width:350px; line-height:70px;") Expande tu Outlook
        p(class="has-text-black" style="margin-top:50px;margin-left:210px;width:500px; font-size: 20px; color: #209cee; line-height:25px; margin-right:90px;") Desarrollamos un conjunto de características Premium de Outlook para las personas con necesidades avanzadas de correo y calendario. Una suscripción de Office 365 ofrece una interfaz sin publicidad, dominios personalizados, opciones de seguridad mejorada, la versión de escritorio completa de Office y 1 TB de almacenamiento en la nube. 
          b(style="color:#0078d4;") Más información acerca de las características de Outlook Premium incluidas con Office class="final-phrase">365
    div(class="hero is-large")
      div(class="has-background-black" style="margin-left:170px; width:1010px;height:1px; margin-top:200px;")
      div(clas="" style="display:flex; margin-left:350px; margin-top:70px;")
        h2(style="font-size:18px;") Soporte técnico
        h2(style="margin-left:60px; font-size:18px;") Crear cuenta gratuita
        h2(style="margin-left:60px; font-size:18px;") Actualizar a Premium
      div(clas="" style="display:flex; margin-left:450px; margin-top:70px;")
        h2(style="font-size:18px;") Outlook para iOS
        h2(style="margin-left:70px; font-size:18px;") Outlook para Android
      div(class="has-background-black" style="height:210px; margin-top:190px;")
        div(class="enlinea" style="margin-left:350px; margin-top:60px;")
          p(class="has-text-white has-text-weight-bold" style="margin-left:20px; font-size:13px;") © 2019 Microsoft
          p(class="has-text-white has-text-weight-bold" style="margin-left:20px; font-size:13px;") Privacidad y cookies
          p(class="has-text-white has-text-weight-bold" style="margin-left:20px; font-size:13px;") Términos de uso
          p(class="has-text-white has-text-weight-bold" style="margin-left:20px; font-size:13px;") Acerca de nuestros anuncios
          p(class="has-text-white has-text-weight-bold" style="margin-left:20px; font-size:13px;") Marcas comerciales
          p(class="has-text-white has-text-weight-bold" style="margin-left:20px; font-size:13px;") Contacto


